.discoBall-container{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  z-index: -1;
}

.discoBall{
  width: 50px;
  height: 50px;
  border: 5px solid #000;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}